version: '3.8'

services:
  keycloak:
    container_name: startup-keycloak
    image: matadini/startup-keycloak:latest
#    environment:
#      KC_BOOTSTRAP_ADMIN_USERNAME: github
#      KC_BOOTSTRAP_ADMIN_PASSWORD: github
    healthcheck:
      test: ['CMD-SHELL', '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { java.net.URI uri = java.net.URI.create(args[0]); System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)uri.toURL().openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:9000/health/live']
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "7080:7080"
      - "7443:7443"
      - "9000:9000"
    networks:
      - local_network

networks:
  local_network:
    driver: bridge
